{% extends "global/Page.html" %}
{% load otree static %}

{% block custom_styles %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f4f6f8;
        color: #333;
    }

    .header {
        margin-bottom: 40px;
    }

    .form-container {
        position: relative;
        margin-top: 40px;
        padding: 30px;
        border: 1px solid #dfdfdf;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fc;
    }

    .error-message {
        color: red;
        font-weight: bold;
    }

    .info-text {
        color: #495057 !important;
        font-size: 1.1em;
        background-color: #cce5ff;
        padding: 15px;
        border-radius: 6px;
        border-left: 5px solid #0275d8 !important;
    }

    .game-round-info {
        position: absolute;
        bottom: 10px;
        right: 30px;
        font-size: 1em;
        color: #343a40;
        font-weight: 600;
    }


    .next-button-container .btn {
        background-color: #2980b9;
        color: white;
        border: none;
        font-weight: bold;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;

    }

    .next-button-container .btn:hover {
        background-color: #1a5276;
        cursor: pointer;

    }
</style>
{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="card-title text-center header">Decide Your Emissions</h1>
    {% if round_number == 0 %}
    <p class="info-text">In this section, you will decide on your emissions. Keep in mind the balance between resource
        exploitation and conservation for maximum benefit. Your total payoff will depend on your decisions.</p>
    {% endif %}

    <form action="" method="post" class="mt-5">
        <div class="form-group">
            {{ formfield "emissions" }}
        </div>

        <div class="form-group">
            <div class="next-button-container">
                {{ next_button }}
            </div>
        </div>
    </form>

    <div class="game-round-info">
        {% if round_number > 0 %}
        Game: {{ game_number }}; Round: {{ round_number }}
        {%else%}
        Test Round
        {% endif %}
    </div>



</div>
{% endblock %}