{% extends "global/Page.html" %} {% load otree static %} {% block custom_styles
%}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

    body {
        font-family: "Montserrat", sans-serif;
        background-color: #f4f6f8;
        color: #333;
    }

    .question-container {
        background: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 1.5rem;
        padding: 20px;
        overflow: hidden;
    }

    .fa-question-circle {
        color: #1e88e5;
        margin-right: 10px;
    }

    .question-header {
        margin-bottom: 25px;
    }

    .question-options {
        margin-left: 20px;
    }

    .question-options label {
        display: block;
    }

    .reveal-answers-container {
        text-align: center;
        margin-top: 30px;
    }

    .feedback-message {
        display: none;
        background-color: #e3f2fd;
        border-left: 5px solid #1e88e5;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        text-align: left;
    }

    .reveal-answers-container {
        text-align: center;
        margin-top: 30px;
    }

    .reveal-button {
        background-color: #2980b9;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        font-weight: bold;
    }

    .reveal-button:hover {
        background-color: #1565c0;
    }

    .option {
        clear: both;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .option input {
        float: left;
        margin-right: 10px;
    }

    .option label {
        float: left;
    }

    .correct-answer {
        background-color: #c8e6c9;
    }

    .incorrect-answer {
        background-color: #ffcdd2;
    }
</style>
{% endblock %} {% block content %}
<div class="container">
    <h2 class="text-center">
        <i class="fas fa-clipboard-list"></i> Control Questions
    </h2>
    <p>
        Please answer these control questions in order to check if you understood
        the instructions.
    </p>

    <!-- Question 1 -->
    <div class="question-container" data-correct-answer-id="q1a">
        <i class="fas fa-question-circle"></i>
        <strong class="question">Question 1:</strong>
        <div class="question-header">
            <p>
                At the start of the round, the atmospheric CO2 levels stand at 1000
                tons. Your group collectively emits 90 tons of CO2 during this round.
                After absorption, what is the remaining amount of CO2 in the atmosphere?
            </p>
        </div>
        <div class="question-options">
            <div class="option">
                <input type="radio" id="q1a" name="question_1" value="a" />
                <label for="q1a">1000 because atmospheric CO2 levels cannot fall below 1000
                    tons</label>
            </div>

            <div class="option">
                <input type="radio" id="q1b" name="question_1" value="b" />
                <label for="q1b">990 because 1000 (initial CO2 level) + 90 (emissions) – 100
                    (absorption) = 990</label>
            </div>
        </div>
        <div class="feedback-message" id="feedback-q1">
            <p>
                The remaining amount of CO2 in the atmosphere after absorption is 1000
                because atmospheric CO2 levels cannot fall below 1000 tons
            </p>
        </div>
    </div>

    <!-- Question 2 -->
    <div class="question-container" data-correct-answer-id="q2b">
        <div class="question-header">
            <i class="fas fa-question-circle"></i>
            <strong>Question 2:</strong>
            <p>
                At the start of the round, the atmospheric CO2 levels stand at 1100
                tons. Your group collectively emits 150 tons of CO2 during this round.
                After absorption, what is the remaining amount of CO2 in the atmosphere?
            </p>
        </div>
        <div class="question-options">
            <div class="option">
                <input type="radio" id="q2a" name="question_2" value="a" />
                <label for="q2a">1050 because 1000 (initial CO2 level) + 150 (emissions) – 100
                    (absorption) = 1000</label>
            </div>
            <div class="option">
                <input type="radio" id="q2b" name="question_2" value="b" />
                <label for="q2b">1150 because 1100 (initial CO2 level) + 150 (emissions) – 100
                    (absorption) = 1500</label>
            </div>
            <div class="option">
                <input type="radio" id="q2c" name="question_2" value="c" />
                <label for="q2c">1250 because 1100 (initial CO2 level) + 150 (emissions) = 1000</label>
            </div>
        </div>
        <div class="feedback-message" id="feedback-q2">
            <p>
                The remaining amount of CO2 in the atmosphere after absorption is 1150
                because 1100 (initial CO2 level + 150 (emissions) – 100 (absorption) =
                1150.
            </p>
        </div>
    </div>

    <!-- Question 3 -->
    <div class="question-container" data-correct-answer-id="q3c">
        <div class="question-header">
            <i class="fas fa-question-circle"></i>
            <strong>Question 3:</strong>
            <p>
                If the remaining amount of CO2 in the atmosphere after absorption is
                1150, what is the resulting profit rate for the next round?
            </p>
        </div>
        <div class="question-options">
            <div class="option">
                <input type="radio" id="q3a" name="question_3" value="a" />
                <label for="q3a">1.4 because 1.4 x (1000/1000) = 1.4</label>
            </div>
            <div class="option">
                <input type="radio" id="q3b" name="question_3" value="b" />
                <label for="q3b">1.61 because 1.4 x (1150/1000) = 1.61</label>
            </div>
            <div class="option">
                <input type="radio" id="q3c" name="question_3" value="c" />
                <label for="q3c">1.22 because 1.4 x (1000/1150) = 1.22.</label>
            </div>
        </div>
        <div class="feedback-message" id="feedback-q3">
            <p>
                The resulting profit rate for the next round is 1.22 because 1.4 x
                (1000/1150) = 1.22.
            </p>
        </div>
    </div>

    <div class="reveal-answers-container">
        <button class="reveal-button" id="reveal-answers">Show Answers</button>
    </div>

    <div class="reveal-answers-container">
        <button class="reveal-button" style="display: none" id="next-button">
            Next
        </button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const revealButton = document.querySelector("#reveal-answers");
            const nextButton = document.querySelector("#next-button");
            revealButton.addEventListener("click", (event) => {
                event.preventDefault();
                const questionContainers = document.querySelectorAll(".question-container");
                let allQuestionsAnswered = true;

                questionContainers.forEach((container) => {
                    const hasAnswer = container.querySelector('input[type="radio"]:checked');
                    const feedbackMessage = container.querySelector(".feedback-message");
                    if (!hasAnswer) {
                        allQuestionsAnswered = false;
                    } else {
                        // Highlight the answers based on correctness
                        const correctAnswerId = container.getAttribute("data-correct-answer-id");

                        if (hasAnswer.id === correctAnswerId) {

                            feedbackMessage.classList.add("correct-answer");
                            feedbackMessage.innerHTML = '<p style="font-weight:bold;">Right: ' + feedbackMessage.innerHTML + '</p>';
                        } else {
                            feedbackMessage.classList.add("incorrect-answer");

                            feedbackMessage.innerHTML = '<p style="font-weight:bold;">Wrong: ' + feedbackMessage.innerHTML + '</p>';
                        }
                    }
                });

                if (allQuestionsAnswered) {
                    document.querySelectorAll(".feedback-message").forEach((message) => {
                        message.style.display = "block";
                        revealButton.style.display = "none";
                        nextButton.style.display = "inline-block";
                    });
                } else {
                    alert("Please answer all the questions before showing answers.");
                }
            });
        });
    </script>
</div>
{% endblock %}